[hub]
    protocol = https
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    # shorthand
    st = status -sb
    cp = cherry-pick
    cl = clone
    ci = commit
    co = checkout
    br = branch 
    diff = diff --word-diff
    dc = diff --cached
    ds = diff --staged
    po = push origin
    aa = add --all

    # better than git pull: http://stackoverflow.com/q/15316601
    up = !git remote update -p; git merge --ff-only @{u}
    reup = !git get

    # stash
    sl = stash list
    sa = stash apply
    ss = stash save

    # custom
    amend = commit --amend -C HEAD
    dlm = !git-delete-local-merged
    undo = "!git reset --soft HEAD^"

    # logging
    ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%an]' --decorate --date=short
    lss = !git --no-pager ls -n 25
    lsv = !git ls --numstat
    lst = !git ls --since '1 day ago' --author AUTHOREMAIL
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = simple
