[hub]
    protocol = https
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = osxkeychain
[alias]
    b = branch
    st = status -sb
    ci = commit
    co = checkout
    amend = commit --amend -C HEAD
    aa = add --all
    po = push origin
    dlm = !git-delete-local-merged

    # l = log all commits, (la = all reachable refs)
    # r = log recent commits (ra = all reachable refs)
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    r = !git l -20
    ra = !git r --all
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = simple
